h1 {
   text-align: center;
   font-size: 50px;
   height: 50px ;
}
img {
   float: left;
   width:  100px;
   height: 100px;
   object-fit: cover;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 100px;
  }

  .form {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 20px;
  }